
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#welcome {
   
    font-size: 60px;
    text-align: center;
    font-family: calibri;
    padding: 20px;
    transform: translateY(10%);
    color : white;
}
#wlcbtn {
    font-family: calibri;
    display: block;
    width: 100;
    margin: 0 auto;
    text-align: center;
    transform: translateY(200%);
}
#homeScreen{
    position: relative;
    text-align: center;
    width : 40%;
    margin : auto;
    transform: translateY(10%);
    font-family: verdana;
    color : white;
}

.button {
    transform: translateY(800%);
    
    display: block;
    width : 230px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    padding: 10px 41px;
    border: 0px solid #628d94;
    border-radius: 12px;
    background: #a1e7f4;
    background: -webkit-gradient(linear, left top, left bottom, from(#a1e7f4), to(#628d94));
    background: -moz-linear-gradient(top, #a1e7f4, #628d94);
    background: linear-gradient(to bottom, #a1e7f4, #628d94);
    text-shadow: #46656a 1px 3px 4px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 0px solid #8cc9d4;
    background: #c1ffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#c1ffff), to(#76a9b2));
    background: -moz-linear-gradient(top, #c1ffff, #76a9b2);
    background: linear-gradient(to bottom, #c1ffff, #76a9b2);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #628d94;
    background: -webkit-gradient(linear, left top, left bottom, from(#628d94), to(#628d94));
    background: -moz-linear-gradient(top, #628d94, #628d94);
    background: linear-gradient(to bottom, #628d94, #628d94);
}
.button:after{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 -4px -6px 4px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABxklEQVRIia3VMWtUQRAH8J8PkeMIQUTCfQCLw0YLSRWCFoql2AhWwcJCLWw0FoJVtAjiB7BKIUGxkxRXHBIsJI1dQDDBQhGES1QIhzbBYufJ87j33uVyf1h23pvZ/8zOzuwyOlp4iHf4gm2s4QYaB+AZigX8wFvcxHlcxhN8xyecG5f8VpBfLdGfwEv8wmwd2SV0sYlnmI+FczXrMryQdjJVZjQXkd6RUrCGP7hfF1VgGp+lHQ/FKh4Uvo/iesyj4i7Wy5QdXKkhaMYow2kpC/+QxTyNY7hY4+BRjDLsSmfwNDhlIXTxEYs1DrJCUMPwE4+lTHQxlQXpN9zGXo2DOvyWdngmuBbzg7yG/UOSF7EnBb6aYQZbEyTPsYVWJh1MbQeOgbPoZXglnfrxCZI3sITXWQikBpmXyqxZGFU3ZWPAtok23kjVuZSn6AI+hGJHapZ8rFQ4eD5gu4MNfA3O3SMDC5rS7Vis9T56IS/HfC/mk/7v7P0IuJ//GLxn+kXlCOjVGVR15az0itWhpaIKqxy08F56zYbZZaHbkHppLLSlO6WDU9IZLIfcCV17XPIceaTb0ku3GfKC6gwcGDNSya44REomjr9IA1x5RIQNqwAAAABJRU5ErkJggg==") no-repeat left center transparent;
    background-size: 100% 100%;
}
#downloadButton {
	transform : translateY(-300%);
}
#nav {
	font-size : 18px;
}

li {
    display: inline;
	
    padding-right: 30px;  
}
h1{ 
position : relative;
color : white;
text-align : center;
font-family: Segoe WP", "Segoe UI Light", "Segoe UI", "Helvetica Neue", "Arial", sans-serif;
transform : translateY(350%);
}

a{
    text-decoration: none;
    font-family : sans-serif;
    font-weight: 100;
    font-size: 30px;
    color: #FFF;
    
}
a href:hover {
    color : #6699FF;
	border-radius : 10%;
}
#dates {
    position: absolute;
    bottom:0px;
    right : 10px;
    font-family : sans-serif;
    font-weight: 100;
}