@font-face {
    font-family: Ubuntu; 
    src: url("https://github.com/cSherman42/cSherman42.github.io/raw/master/Fonts/Ubuntu-L.ttf");
}
    body {
        font-family : ubuntu;
}

h1 {
    font-family : "Ubuntu", hipsterish, sans-serif;
    font-size : 70px;
    font-color : inherit, black;
    text-align : center;
    color : black;
    position : relative;
    top : 100px;


}

body {
    background-color : #FDFDFD;
}

#logo {
    font-family : Asgalt, sans-serif;
    margin : 0px 8px 0px 0px;
    background-color : #7B8884;
    color : #D3FFC4;
}

.definitionList {
    position :relative;
    top : 70px; 
    padding :90px;
    font-size : 18px;
    display :inline-block;
}


.undering {
    position : relative;
    left : 5px;     
}

a {
    text-decoration: none;

}

.bcontainer{
    margin-left: auto;
    margin-right: auto;
    width: 105%;
}
#sig {
    position: absolute;
    right : 180px;
    bottom : 20px;
    font-size: 20px;
}

h1 {
    font-size : 80px;
}

