@font-face {
    font-family: Ubuntu; 
    src: url("fonts/Ubuntu-L.ttf");
}
    body {
        font-family : ubuntu;
}

h1 {
    font-family : "Ubuntu", hipsterish, sans-serif;
    font-size : 70px;
    font-color : inherit, black;
    text-align : center;
    color : black;
    position : relative;
    top : 100px;


}

body {
    background-color : #FDFDFD;
}

#logo {
    font-family : Asgalt, sans-serif;
    margin : 0px 8px 0px 0px;
    background-color : #7B8884;
    color : #D3FFC4;
}

.definitionList {
    position :relative;
    top : 70px; 
    padding :90px;
    font-size : 18px;
    display :inline-block;
}

.undering {
    position : relative;
    left : 5px;     
}