h1 {
font-family : Futura, "Trebuchet MS", sans-serif;
font-size : 70px;
font-color : inherit, black;
text-align : center;
color : black;
}
#background {
border-radius : 5px;
border : 2px solid green;
background-color : black;
width : 100%;
margin : 0px;
left : 0px;
top : 0px;
max-width : none;
padding : 0px;
}


body {
background-color : #6B8FB2;
}
.swag {
font-family : verdana;
color : #66FF33;
text-decoration : none;
font-size : 40px;
}
.swag:hover {
	color: #cc0000;
	font-weight : bold;
	text-decoration: none;
}
